#!/usr/bin/env xdg-open
[Desktop Entry]
Comment[tr]=
Comment=
Exec=/usr/share/UYAPEditor/dokuman.sh
Icon=uyap-editor
GenericName[tr]=UYAP DOKUMAN EDITOR
GenericName=UYAP DOKUMAN EDITOR
Name[tr]=UYAPDokumanEditor
Name=UYAPDokumanEditor
MimeType=application/udf;
#Categories=adalet;
Type=Application
Terminal=false
