Source: adalet
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9)
Maintainer: İzzet Aydin <izzetaydin@gmail.com>

Package: adalet
Depends: conky,pinta,kazam
Architecture: all
Version: 1.0
Description: Adalet uyarlaması
