Source: adalet
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9)
Maintainer: İzzet Aydin <izzetaydin@gmail.com>

Package: adalet
Depends: oracle-java8-jre, akis, pidgin, cups-bsd, akis, pidgin, unrar, florence, pinta, kazam, ntpdate, uyapeditor
Conflicts: icedtea-netx, openjdk-8-jre, openjdk-8-jre-headless, gimp, pk-update-icon,mutt, libreoffice-base, libreoffice-math
Replaces: icedtea-netx, openjdk-8-jre, openjdk-8-jre-headless, gimp, pk-update-icon,mutt, libreoffice-base, libreoffice-math
Architecture: all
Version: 1.0
Description: TC. Adalet Bakanlığı Pardus17 uyarlaması
	TC. Adalet Bakanlığı isterleri için düzenlemeleri içeren paket
